@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

:root{
    --dark-blue: rgba(55,74,117,255);
    --light-blue: rgba(82,153,197,255);
    --aqua: rgba(56,151,171,255);
    --yellow: rgba(255, 166, 77, 1);
    --light-yellow: rgb(245, 195, 145);
    --white: rgba(264,264,264,255);
    --black: rgba(0,0,0,255);
}

body{
    background-color: var(--white);
}

img{
    width: 100%;
}

header,
section{
    padding: 1.5rem;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--aqua);
    position: sticky;
    top: 0;
}

h1{
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    color: var(--white);
}

.nav{
    display: none;
}

.btn{
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color: var(--yellow);
    cursor: pointer;
}

.btn:hover{
    background-color: var(--light-yellow);
}

.btn a{
    text-decoration: none;
    color: var(--white);
}

/* MAIN */
.home{
    height:92vh;
}

.home{
    background-image: url(content/images/pool-bg-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.home__content{
    background-color: #0000004d;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

section{
    color: var(--white);
}

.title{
    font-size: 5rem;
    color: var(--white);
}

.home p{
    color: var(--white);
}

section p{
    font-size: 2rem;
    text-align: start;
    color: var(--dark-blue);

}

i{
    font-size: 5rem;
    margin-top: 7rem;
}

/* SECTION SERVICES */
.services,
.about{
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
}

.card-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.card{
    background-color: var(--aqua);
    border-radius: 2rem;
    overflow: hidden;
}

.card-content{
    padding: 2rem;
}

.card-content h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card-content p{
    font-size: 1.2rem;
}

.card img{
    width: 100%;
}

.subtitle{
    font-size: 4rem;
    text-align: center;
    color: var(--dark-blue);
    margin-bottom: 1.5rem;
}

footer{
    background-color: var(--aqua);
    padding: 2rem;
}

footer .title{
    font-size: 3rem;
    color: var(--white);
}

/* ALL MEDIA QUERIES */

@media screen and (min-width: 720px) {

    header,
    section{
        padding: 2rem  5rem;
    }

    .home{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home__content{
        max-width: 50rem;
        padding: 5rem;
    }

    .card-container{
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: repeat(auto-fit, 30rem);
        grid-template-rows: 30rem;
        gap: 3rem;
    }
    
    .about .wrapp{
        display: flex;
        gap: 2rem;
    }

    .about .content{
        flex: 1;
    }

    .about img{
        width: 100%;
        flex: 1;
        border-radius: 2rem;
    }
}

@media screen and (min-width: 1111px) {

    header{
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 10rem;
    }

    h1{
        font-size: 2rem;
    }

    .nav{
        list-style: none;
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    .nav li a{
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--white);
        cursor: pointer;
    }

    header,
    section{
        padding: 2rem  5rem;
    }

    .home{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home__content{
        max-width: 50rem;
        padding: 5rem;
    }

    .card-container{
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: repeat(auto-fit, 30rem);
        grid-template-rows: 30rem;
        gap: 3rem;
    }
    
    .about .wrapp{
        display: flex;
        gap: 2rem;
    }

    .about .content{
        flex: 1;
    }

    .about img{
        width: 100%;
        flex: 1;
        border-radius: 2rem;
    }
}